body {
  display: block;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #f0f0f0;
}
.first-head {
    display: block;
    text-align: center;
    margin-top: 20px;
    font-size: 30px;
    color: #007bff;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    width: 100%;
    margin: 0 auto;
}
form {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}
label {
  margin-top: 10px;
}
input {
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
button[type="submit"] {
  margin-top: 20px;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
button[type="submit"]:hover {
  background-color: #0056b3;
}
.home-button {
  display: block;
  margin: 20px auto 0;
  padding: 5px 10px;
  background-color: #6c757d;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.home-button:hover {
  background-color: #5a6268;
}
